.sidebar {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    background: #f7f7f7;
    input {
        width: calc(100% - 30px);
        border: none;
        background: #e0e0e0;
        height: 30px;
        border-radius: 5px;
        text-indent: 10px;
        color: #afafaf;
    }
    ul {
        list-style: none;
        li {
            padding: 8px 15px 8px 15px; 
            transition: .5s;
            cursor: pointer;
            color: #7b7b7b;
            text-indent: 15px;
            &:hover {
                background: #e0e0e0;
            }
        }
        li.active {
            background:#d6d5d5;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        }
    }
}
.shadow {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.css-yk16xz-control,  .css-1pahdxg-control {
    width: 200px;
    float: right;
    margin-top: 5px;
    border: none;
    margin-right: 10px;
    max-width: 200px !important;
}
.css-yk16xz-control {
    border-color: transparent !important;
}
div.css-26l3qy-menu {
    margin-top: 50px;
    width: 200px;
    float: right;
    right: 10px;
}