.container-data {
    position: absolute;
    width: calc(100% - 50px);
    height: 100%;
    padding: 25px;
    top: 50px;
    background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.92)), url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a6/Major_League_Baseball_logo.svg/1200px-Major_League_Baseball_logo.svg.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    background-position-y: 2px;
}
.rdt_TableHeadRow.sc-bxivhb.jIaJrt {
    background: #f7f7f7;
}
.sc-jKJlTe.jDHQPG {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
div.graph {
    height: 300px;
    margin-bottom: 15px;
}
.card {
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding: 15px;
    margin: 5px;
    max-height: 300px;
    overflow: auto;
}
.flex {
    display: flex;
}
.col-6 {
    width: 50%;
}
header.rdt_TableHeader.sc-kAzzGY.gXlqCi {
    padding: 0;
}
.rdt_TableRow:hover {
    background: #efefef;
}
.m-0 {
    margin: 0;
}
.m-right-10 {
    margin-right: 10px;
}
.font-size-90 {
    font-size: 90px;
}
.font-size-70 {
    font-size: 70px;
}
.text-center {
    text-align: center;
}
.container-infon-number {
    width: 50%;
    float: left;
}
@media (max-width: 660px) {
    .container-infon-number {
        width: 100%;
        float: initial;
    }
}